@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
    background-color: white !important;
}
.navbar .nav-brand {
    color: white !important;
    background-color: #d8195e !important;
    margin-left: 40px;
    padding: 5px;

}
.navbar .nav-link-span {
    margin-left: auto;
}
.navbar .nav-link {
    color: black !important;

}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #d8195e !important;
}

.wrapper{
    margin-top: 50px;
    margin-bottom: 20px;
}

.title-wrapper{
    margin-top: 70px;
    margin-bottom: 20px;
}

.home-title{
    /* margin: auto;
    width: 60%; */
}

.title-div{
    /* border: 1px solid green; */
}

.button{
    color: #d8195e !important;
    font-weight: bold;
    font-size: 20px !important;
    border: 2px solid #d8195e !important;
}

.heading{

    margin-bottom: 2.5rem !important;

}

.heading::before{
    border-left: 45px solid #d8195e;
    content: "";
    display: block;
    height: 3px;
    margin-bottom: 0.83333rem;
    /* text-indent: 15%; */
}
/* .heading-bar::before{
    border-left: 45px solid #d8195e;
    content: "";
    display: block;
    height: 3px;
    margin-bottom: 0.83333rem;
    text-indent: 15%;
} */



.container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 1px solid yellow;
}
/* .container::after{
    background: rgba(39, 44, 48, 0.65);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: .3s ease;
    transition: .3s ease;
} */

.overlay{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    transition: .3s ease;
    opacity:0;
    /* font-size: 26px !important;
    font-weight: bold ;
    text-align: center;
    color: #f1f1f1; */
}


.container:hover .overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.recent-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform ease-in-out 0.5s;
}

.recent-img-title{

    position: absolute;
    color: #f1f1f1;
    font-size: 26px !important;
    font-weight: bold;
    /* text-align: center; */
    top: 35%;
    left: 35%;

}

.container:hover .recent-img{
    transform: scale(1.15);
}

.service-paper{
    padding: 10px;
}

.service-num{
    /* font-weight: bold;
    font-size: 20px !important; */
    width: fit-content;
    padding: 10px 15px;
    border: 2px solid rgba(0, 0, 0, 0.2) !important; 
}

.service-para{
    line-height: 1.8rem;
    font-size: 20px;
}